<div class="row mb-4">
  <div class="col-md-2">
    <%= link_to comment.user do %>
      <%= image_tag comment.user.avatar.thumb, class: 'rounded-circle' %>
    <% end %>
  </div>
  <div class="col-md-10">
    <p>
      <span><%= comment.user.username %></span>
      <i class="text-muted ml-4"><%= comment.created_at.strftime('%Y %-b %-d %H:%M') %></i>
    </p>
    <p><%= comment.text %></p>
    <% if comment.user == current_user %>
      <%= link_to 'Delete', post_comment_path(@post, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>