<%= form_with(model: @comment, url: post_comments_path(post_id: @post.id), local: true, class: 'comment') do |form| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_area :text, id: :text_content,
                              placeholder: "Add a comment...",
                              class: 'form-control' %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.hidden_field :post_id, value: @post.id %>

  <div class="actions">
    <%= form.submit "Submit", class: 'btn btn-success' %>
  </div>
<% end %>