<div class="card my-4">
  <div class="card-body">
    <div class="text-center">
      <span><%= image_tag("instagram-new-logo.png", style: "height:60px; margin-bottom:10px;") %></span>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.text_field :login,
                          autofocus: true,
                          placeholder: "Username or email",
                          class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password,
                             autocomplete: "off",
                             placeholder: "Password",
                             class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
    <hr>
    <%= render 'users/shared/omniauth', devise_mapping: Devise.mappings[:user] %>
    <div class="mt-3">
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body text-center">
    <span>Don't have an account?</span>
    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <%= link_to "Sign up", new_registration_path(resource_name) %><br />
    <% end -%>
  </div>
</div>
