<div class="card" style="margin:20px 0;">
  <div class="card-body">
    <div class="logo text-center" style="margin-bottom:10px;">
      <span><%= image_tag("instagram-new-logo.png", style: "height:60px;") %></span>
    </div>
    <div class="text-center" style="margin-bottom:10px;">
      <span class="text-secondary font-weight-bold">Sign up to see photos and videos from your friends.</span>
    </div>

    <% unless session['devise.facebook_data'] %>
      <%= render 'users/shared/omniauth' %>
    <% end %>
    <hr>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.email_field :email,
                          autofocus: true,
                          placeholder: "Email",
                          class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.text_field :name,
                         placeholder: "Full Name",
                         class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.text_field :username,
                         placeholder: "Username",
                         class: "form-control" %>
      </div>

      <% unless session["devise.facebook_data"] %>
        <div class="form-group">
          <%= f.password_field :password,
                               autocomplete: "off",
                               placeholder: "Password",
                               class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password_confirmation,
                               autocomplete: "off",
                               placeholder: "Password Confirmation",
                               class: "form-control" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-primary btn-block mb-3" %>
      </div>

      <% if session["devise.facebook_data"] %>
        <div class="actions">
          <%= link_to cancel_user_registration_path do %>
            <div class="btn btn-warning">
              Cancel sign up with Facebook
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <div class="terms text-center text-secondary my-3">
      <span>By signing up, you agree to our
        <a href="https://termsfeed.com/terms-service/39629cd6976c4185c0d0d43bf2e1baa8">Terms</a>,
        <a href="https://www.freeprivacypolicy.com/privacy/view/ea7b8480c5f17b306c4a83612a7969c3">Data Policy</a> and
        <a href="https://cookiepolicygenerator.com/live.php?token=lTlLYabGtHyvqc47asECZkJn08CKvqkI">Cookies Policy</a>.
      </span>
    </div>

    <%= render "users/shared/links" %>
  </div>
</div>

<div class="card">
  <div class="card-body text-center">
    <span>Have an account?</span>
    <%- if controller_name != 'sessions' %>
      <%= link_to "Log in", new_session_path(resource_name) %><br />
    <% end -%>
  </div>
</div>
