<% provide(:title, 'Resend unlock instructions') %>
<div class="row my-4">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-body">
        <h2>Resend unlock instructions</h2>

        <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.email_field :email, autofocus: true,
                                    placeholder: "Enter your email",
                                    class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit "Resend unlock instructions", class: 'btn btn-success' %>
        </div>
        <% end %>

        <%= render "users/shared/links" %>
        <div class="mt-4">
          <%= link_to 'Back', new_user_session_path %>
        </div>
      </div>
    </div>
  </div>
</div>
