<% provide(:title, 'Edit Profile') %>
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="card my-4">
        <div class="card-body">
          <%= form_with(model: @user, local: true, url: user_path(@user), class: 'user') do |f| %>
            <div class="row">
              <div class="col-md-3 text-right">
                <%= image_tag(@user.avatar.thumb, class: 'rounded-circle',
                                                  style: 'cursor:pointer;',
                                                  onClick:"$('#user_avatar').click()") %>
              </div>
              <div class="col-md-9">
                <p><%= @user.username %></p>
                <span class="upload">
                  <label for="user_avatar" style="color:blue; cursor:pointer;">
                    Change your avatar
                  </label>
                  <%= f.file_field :avatar, id: :user_avatar,
                                            class: 'image-upload',
                                            style: 'display:none;',
                                            accept: 'image/jpeg,image/jpg,image/png' %>
                </span>
              </div>
            </div>

            <script>
              $(document).ready(function(){
                $('#user_avatar').val("");
                $('#user_avatar').change(function(){
                  var array = $('#user_avatar').val();
                  var image_name = array.split("\\");
                  $('#display_user_avatar').html(image_name[2]);
                });

                $('.user').bind('change', function(){
                  var size_in_megabytes = this.files[0].size/1024/1024;
                  if (size_in_megabytes > 5) {
                    alert('Maximum file size is 5MB. Please choose a smaller file.');
                  }
                });
              });
            </script>
            <span id="display_user_avatar"></span>

            <div class="row form-group">
              <div class="col-md-3 text-right d-none d-md-block d-lg-block">
                <%= f.label :fullname %><br />
              </div>
              <div class="col-md-9">
                <%= f.text_field :name, autofocus: true,
                                        placeholder: "Full Name",
                                        class: 'form-control' %>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-3 text-right d-none d-md-block d-lg-block">
                <%= f.label :username %><br />
              </div>
              <div class="col-md-9">
                <%= f.text_field :username, placeholder: "Username",
                                            class: 'form-control' %>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-3 text-right d-none d-md-block d-lg-block">
                <%= f.label :website %><br />
              </div>
              <div class="col-md-9">
                <%= f.text_field :website, placeholder: "Your Web Site",
                                           class: 'form-control' %>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-3 text-right d-none d-md-block d-lg-block">
                <%= f.label :bio %><br />
              </div>
              <div class="col-md-9">
                <%= f.text_area :bio, placeholder: "Please introduce yourself",
                                      class: 'form-control' %>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-3 text-right d-none d-md-block d-lg-block">
                <%= f.label :email %><br />
              </div>
              <div class="col-md-9">
                <%= f.email_field :email, placeholder: "Email",
                                          class: 'form-control' %>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-3 text-right d-none d-md-block d-lg-block">
                <%= f.label :phone %><br />
              </div>
              <div class="col-md-9">
                <%= f.text_field :phone, placeholder: "Phone number",
                                         class: 'form-control' %>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-3 text-right d-none d-md-block d-lg-block">
                <%= f.label :gender %><br />
              </div>
              <div class="col-md-9">
                <%= f.select :gender, User.genders.keys.to_a, {},
                                      class: 'form-control' %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-9 offset-md-3">
                <div class="update-actions">
                  <%= f.submit "Update", class: 'btn btn-primary' %>
                  <%= link_to "Edit password", edit_user_registration_path(current_user),
                                               class: 'btn btn-success' %>
                </div>
              </div>
            </div>
          <% end %>

          <div class="row">
            <div class="col-md-9 offset-md-3">
              <div class="cancel-account my-4">
                <h4>Cancel my account</h4>
                <p>Unhappy?
                  <%= button_to "Cancel my account",
                                registration_path(resource_name),
                                class: 'btn btn-danger',
                                data: { confirm: "Are you sure?" },
                                method: :delete %>
                </p>
              </div>
              <%= link_to "Back", :back %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
