<% provide(:title, "#{@user.username}") %>
<div class="container">
  <div class="row my-5">
    <div class="col-md-3 offset-md-2">
      <%= image_tag @user.avatar, class: 'rounded-circle',
                                  alt: 'users avatar' %>
    </div>
    <div class="col-md-5">
      <div class="my-4">
        <span class="mr-3"><%= @user.username %></span>
        <% if @user == current_user %>
          <%= link_to edit_user_path(@user) do %>
            <div class="btn btn-outline-secondary">
              Edit Profile
            </div>
          <% end %>
        <% else %>
          <%= render 'follow_form', user: @user %>
        <% end %>
      </div>
      <div class="mb-4">
        <span class="mr-4"><%= @user.posts.count %> posts</span>
        <span class="stats mr-4">
          <%= render 'shared/stats' %>
        </span>
      </div>
      <div>
        <p><b><%= @user.name %></b></p>
        <p><%= @user.bio %></p>
        <p>
          <a href="<%= @user.website %>" target=”_blank”>
            <%= @user.website %>
          </a>
        </p>
      </div>
    </div>
  </div>

  <hr>

  <% if @user == current_user %>
    <div class="row justify-content-center">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="your-posts-tab" data-toggle="pill" href="#your-posts" role="tab" aria-controls="your-posts" aria-selected="true">
            Your Posts
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="liked-posts-tab" data-toggle="pill" href="#liked-posts" role="tab" aria-controls="liked-posts" aria-selected="false">
            Liked Posts
          </a>
        </li>
      </ul>
    </div>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="your-posts" role="tabpanel" aria-labelledby="your-posts-tab">
        <div class="row">
          <% if current_user.posts.blank? %>
            <%= render 'getting_started' %>
          <% elsif @user.posts.blank? %>
            <div class="col-md-12">
              <p class="text-center">There's no post...</p>
            </div>
          <% else %>
            <%= render @user.posts %>
          <% end %>
        </div>
        <%= will_paginate @user.posts.paginate(page: params[:page]), :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
      </div>
      <div class="tab-pane fade" id="liked-posts" role="tabpanel" aria-labelledby="liked-posts-tab">
        <div class="row">
          <% @user.likes.each do |like| %>
            <%= render like.post %>
          <% end %>
        </div>
        <%= will_paginate @user.likes.paginate(page: params[:page]), :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
      </div>
    </div>
  <% else %>
    <div class="row">
      <% if @user.posts.blank? %>
        <div class="col-md-12">
          <p class="text-center">There's no post...</p>
        </div>
      <% else %>
        <%= render @user.posts %>
      <% end %>
    </div>
  <% end %>
</div>
