<% provide(:title, @title) %>
<div class="container">
  <div class="row my-4">
    <aside class="col-md-4">
      <section class="user_info">
        <%= image_tag @user.avatar, class: 'rounded-circle' %>
        <h3><%= @user.username %></h3>
        <p><%= link_to "view profile", @user %></p>
        <span>Posts: <%= @user.posts.count %></span>
      </section>
      <section class="stats">
        <!-- TODO: Follow/Unfollowしたらfollowingの数を更新する -->
        <%#= render 'shared/stats' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h4><%= @title %></h4>
      <div class="row">
        <% if @users.any? %>
          <%= render @users %>
        <% end %>
      </div>
    </div>
  </div>
</div>
