<%= form_tag(posts_path, method: :get, class: "form-inline") do %>
  <%= text_field_tag :search, '', class: "form-control", placeholder: "Search" %>
  <%= submit_tag 'Search', name: nil, class: "btn btn-outline-secondary m-2 my-sm-0" %>
<% end %>
