<%= provide(:title, 'Editing post') %>
<div class="container">
  <div class="row mt-4">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <%= render 'form', post: @post %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
