<nav class="navbar navbar-light sticky-top justify-content-around" style="background-color:#fff;">
  <a class="navbar-brand" href="/posts">
    <span><i class="fab fa-instagram" style="padding-right:10px; border-right:1px solid gray"></i></span>
    <span><%= image_tag("instagram-new-logo.png", style: "height:60px;") %></span>
  </a>

  <div class="search-form text-center d-none d-sm-block">
    <%= render 'shared/posts_search' if current_page?(posts_path) %>
    <%= render 'shared/users_search' if current_page?(users_path) %>
  </div>

  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <%= link_to("#", id: "navbarDropdownMenuLink", class: "nav-link dropdown-toggle", "data-toggle": "dropdown", "data-flip": "true", "aria-haspopup": "false", "aria-expanded": "false") do %>
        <%= image_tag current_user.avatar.url, class: "rounded-circle", style: "width: 50px;" %>
      <% end %>

      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" style="position: absolute;right: 0;left: auto;">
        <%= link_to "Explore", users_path, class: "dropdown-item" %>
        <!-- TODO: 通知機能実装後、通知一覧へのリンクを表示する -->
        <%#= link_to "Notifications", "#", class: "dropdown-item" %>
        <%= link_to "Your Account", user_path(current_user), class: "dropdown-item" %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </li>
  </ul>
</nav>
