<% provide(:title, 'Edit Password') %>
<div class="row my-4">
  <div class="col-md-6 offset-md-3">
    <h4>Edit <%= resource_name.to_s.humanize %> Password</h4>
    <div class="card my-4">
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: 'off',
                                            placeholder: 'New Password',
                                            class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: 'off',
                                                         placeholder: 'Confirm New Password',
                                                         class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "current-password",
                                                    placeholder: 'Current Password',
                                                    class: 'form-control' %>
          </div>

          <div class="actions">
            <%= f.submit "Update", class: 'btn btn-primary' %>
          </div>
        <% end %>
        <div class="mt-3">
          <%= link_to "Back", edit_user_path(current_user) %>
        </div>
      </div>
    </div>
  </div>
</div>
